
 @use "colors" as color;
 @use 'typography' as typo;




html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
 
 
  
 

}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
  font-family:  typo.$font-family-playfair
}


a,
a:visited,
a:active {
  text-decoration: none;
}

main{
  width: min(100% - 20px, 1350px);
 
 
  margin: 10px auto 40px;

}

a{
  text-decoration: none;
  color:inherit;
  cursor:pointer;

}

ul, li{
  list-style: none;
}

h3 {
  color:(color.$h3-color);
  text-transform: uppercase;
}
h2{
  color: color.$strong-purple;
}

 footer li{
  color: color.$footer-li;
  font-weight: thin;
 }

 p{
  font-family: typo.$font-family-red-hat;
 }



 .hide{
  display:none;
 }

//  .show{
//   display: flex;
//  }


.order{
  margin-left: 30px;
  opacity: .4;
  transition: 0.2s ease-in;
  &:hover{
    opacity: 1;
  }
}
 
 .cta{
  padding: 12px 6px;
  outline: none;
  cursor: pointer;
  border: none;
  appearance: none;
  background-color: color.$purple;
  color: color.$second-bg-color;
 float: right;
 margin-inline:auto;
  
}
