$background-color-first: #ebedea;
$background-color-pink-dark: #da38cd;
$h3-color: hsla(36, 81%, 15%, 0.9);
$header-text-color: hsla(36, 85%, 31%, 0.938);
$second-bg-color: hsl(300, 67%, 89%);
$purple: hsl(255, 90%, 36%);
$strong-purple:hsl(274, 83%, 16%);
$footer-li:hsl(0, 2%, 51%);
$chocolade-color: hsl(0, 28%, 5%);


$amount: 0.5;
$purple-fade: fade-out($purple, $amount);
