@use "../utils" as util;
@use "../globals" as global;

.contact {
  @include util.width(100%, 4px, 1440px);

  padding: 20px;

  @include util.breakpoint(large) {
    height: 800px;
    display: flex;

    &__left,
    &__right {
      @include util.width(50%, 8px, 540px);
      height: 90%;
    }
  }

  &__left,
  &__right {
    background-color: #e9e3d7;
    padding: 30px;
    height: 80%;
  }
  &__left {
    padding: 20px;
    small {
      float: right;
      padding: 0 2rem;
    }

    &__calculator {
      padding: 20px;
      height: 90%;
      width: 80%;
      margin: 0 auto;

      &__first {
        padding-bottom: 30px;
        margin-top: 20px;
        border-bottom: util.$border-gray;

        p {
          line-height: 150%;
        }
        p.price span {
          font-style: italic;
          font-weight: 500;
          margin-left: 1rem;
        }
      }
    }
  }

  &__right {
    background-color: global.$background-color-first;
    text-align: center;

    form {
      @include util.width(80%, 12px, 640px);
      text-align: center;

      .title {
        color: global.$h3-color;
        font-size: 2.5rem;
      }

      .order {
        margin-left: 30px;
        opacity: 0.4;
        transition: 0.2s ease-in;
        &:hover {
          opacity: 1;
        }
      }

      .btn-holder {
        width: 80%;
        height: 100px;
        margin-inline: auto;
        display: grid;
        place-items: center;
      }

      input,
      textarea {
        width: 90%;
        margin-inline: auto;
        margin-bottom: 20px;
        display: flex;

        flex-grow: 1;
        color: #212529;
        border: none;
        border-bottom: 2px solid global.$purple-fade;
        padding: 10px 20px;
        font-size: 1.1rem;

        &:hover,
        &:focus {
          border: none;
          appearance: none;
          outline: none;
          border-bottom: 8px solid global.$background-color-pink-dark;
        }
      }
    }
  }
}
