html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
  font-family: "Playfair Display", serif;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

main {
  width: min(100% - 20px, 1350px);
  margin: 10px auto 40px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul, li {
  list-style: none;
}

h3 {
  color: hsla(36, 81%, 15%, 0.9);
  text-transform: uppercase;
}

h2 {
  color: hsl(274, 83%, 16%);
}

footer li {
  color: hsl(0, 2%, 51%);
  font-weight: thin;
}

p {
  font-family: "Red Hat Display", sans-serif;
}

.hide {
  display: none;
}

.order {
  margin-left: 30px;
  opacity: 0.4;
  transition: 0.2s ease-in;
}
.order:hover {
  opacity: 1;
}

.cta {
  padding: 12px 6px;
  outline: none;
  cursor: pointer;
  border: none;
  appearance: none;
  background-color: hsl(255, 90%, 36%);
  color: hsl(300, 67%, 89%);
  float: right;
  margin-inline: auto;
}

footer {
  border-top: 1px solid gray;
  padding-top: 6px;
}
footer .subscribe {
  margin: 30px;
  background-color: rgba(50, 9, 174, 0.5);
  padding: 20px;
  width: min(100% - 0px, 1440px);
  margin-inline: auto;
  margin-inline: auto;
}
footer .subscribe h2 {
  font-size: 2rem;
  text-align: center;
}
footer .subscribe div {
  padding: 2rem;
  width: min(100% - 20px, 700px);
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
}
footer .subscribe div input {
  padding: 1rem;
  flex-grow: 1;
}
footer .subscribe div input::placeholder {
  color: rgb(18, 72, 181);
}
footer .subscribe div button {
  width: auto;
  padding: 6px 12px;
  background-color: rgb(18, 72, 181);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
footer .footer-grid {
  width: min(100% - 0px, 1440px);
  margin-inline: auto;
  background-color: black;
  padding: 30px;
  padding-bottom: 4px;
}
footer .footer-grid .footer__grid__top {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 400px) {
  footer .footer-grid .footer__grid__top {
    grid-template-columns: 1fr 1fr;
    gap: 2px;
  }
  footer .footer-grid .footer__grid__top__online {
    border-radius: 0 30px 30px 30px;
    background-color: hsl(300, 67%, 89%);
  }
  footer .footer-grid .footer__grid__top__menu {
    border-radius: 30px 0px 30px 30px;
    background-color: hsl(300, 67%, 89%);
  }
  footer .footer-grid .footer__grid__top__shop {
    border-radius: 30px 30px 30px 0;
    background-color: hsl(300, 67%, 89%);
  }
  footer .footer-grid .footer__grid__top__customer {
    border-radius: 30px 30px 0px 30px;
    background-color: hsl(300, 67%, 89%);
  }
}
@media (min-width: 1000px) {
  footer .footer-grid .footer__grid__top {
    grid-template-columns: repeat(4, 1fr);
    background-color: hsl(300, 67%, 89%);
    width: 100%;
  }
  footer .footer-grid .footer__grid__top__online, footer .footer-grid .footer__grid__top__menu, footer .footer-grid .footer__grid__top__shop, footer .footer-grid .footer__grid__top__customer {
    border-radius: 30px;
    background-color: transparent;
    border: none;
  }
}
footer .footer-grid .footer__grid__top__online, footer .footer-grid .footer__grid__top__menu, footer .footer-grid .footer__grid__top__shop, footer .footer-grid .footer__grid__top__customer {
  width: min(100%, 500px);
  margin-inline: auto;
  padding: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-grid .footer__grid__top__online li, footer .footer-grid .footer__grid__top__menu li, footer .footer-grid .footer__grid__top__shop li, footer .footer-grid .footer__grid__top__customer li {
  padding-bottom: 5px;
}
footer .footer-grid .footer__grid__top__right {
  width: min(100% - 20px, 900px);
  margin-inline: auto;
  display: flex;
}
footer .footer-grid .footer__grid__top__right__left, footer .footer-grid .footer__grid__top__right__right {
  width: 50%;
  border: 1px solid gray;
  text-transform: uppercase;
}
footer .footer-grid .footer__grid__top__right__left li, footer .footer-grid .footer__grid__top__right__right li {
  padding-bottom: 5px;
}
footer .footer-grid .footer-grid__second {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
}
@media (min-width: 1000px) {
  footer .footer-grid .footer-grid__second {
    grid-template-columns: 1fr 3fr;
  }
}
footer .footer-grid .footer-grid__second__left {
  background: #fff;
  padding: 30px;
}
footer .footer-grid .footer-grid__second__right {
  display: flex;
  justify-content: space-between;
  padding: 0;
  color: white;
}
footer .footer-grid .footer-grid__second__right__copyright {
  width: 100%;
  height: 100px;
  gap: 0;
  text-align: center;
  margin-top: auto;
  margin-bottom: 0;
  padding-bottom: 0;
  box-sizing: border-box;
  justify-content: end;
}
footer .footer-grid .footer-grid__second__right__logo {
  width: 100px;
  margin-top: 1rem;
  background-image: url("../../assets/lemon-cake.png");
  background-size: cover;
  height: 100px;
}

.about {
  padding: 10px 30px;
  width: min(100% - 0px, 1440px);
  margin-inline: auto;
  gap: 90px;
  background: rgba(246, 208, 246, 0.3);
}
.about__left {
  padding: 20px;
  margin-bottom: 40px;
  height: 300px;
}
.about__left img {
  padding: 20px;
  height: 300px;
  width: min(100% - 0px, 500px);
  margin-inline: auto;
  float: right;
}
.about__right {
  padding: 10px;
}
.about__right h2 {
  font-size: 2rem;
  line-height: 130%;
  color: rgba(146, 92, 12, 0.9);
}
.about__right p {
  white-space: wrap;
  line-height: 1.3rem;
}
.about__right .bold {
  font-weight: bold;
  color: hsl(274, 83%, 16%);
}
.about__right a {
  color: rgba(50, 9, 174, 0.5);
}
.about__right a:hover {
  font-weight: 800;
  text-decoration: underline;
  color: hsl(274, 83%, 16%);
}
@media (min-width: 1000px) {
  .about {
    display: flex;
    align-items: center;
  }
  .about__left {
    width: 40%;
    height: auto;
    width: min(40% - 4px, 540px);
    margin-inline: auto;
    margin: 0;
  }
  .about__left img {
    width: min(100% - 0px, 500px);
    margin-inline: auto;
    height: 400px;
    object-fit: cover;
  }
  .about__right {
    width: min(70% - 0px, 740px);
    margin-inline: auto;
  }
  .about__right h2 {
    font-size: 2.3rem;
  }
  .about__right a,
  .about__right p {
    font-size: 1.2rem;
  }
}

.hero {
  width: 100%;
}
.hero img {
  height: 300px;
  width: 100%;
  padding: 0px;
}
.hero__info h1 {
  font-size: 2.5rem;
  text-align: center;
  color: hsla(36, 85%, 31%, 0.938);
  padding: 30px;
}
.hero__info__slogans {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(98% - 0px, 600px);
  margin-inline: auto;
  background-color: rgba(50, 9, 174, 0.5);
  color: rgba(246, 208, 246, 0.9);
  box-shadow: 30px -16px rgba(44, 7, 73, 0.9);
  padding-top: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.hero__info__slogans p {
  background-color: #da38cd;
  width: 100%;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
}
.hero__info__slogans p span {
  padding: 0px 30px 10px 30px;
  font-size: 2rem;
  color: whitesmoke;
}
@media (min-width: 1000px) {
  .hero {
    width: min(100% - 0px, 1400px);
    margin-inline: auto;
  }
  .hero__info h1 {
    font-size: 3rem;
  }
}

.featured {
  height: auto;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 50px;
  padding-block: 50px;
}
.featured h2 {
  margin-bottom: 80px;
}
.featured__content {
  margin-top: 2rem;
  width: 90%;
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  place-self: center;
  text-align: center;
}
.featured img {
  max-width: 400px;
  width: 80%;
}
.featured .featured__cakes:hover {
  margin-top: -40px;
}
.featured .lemon, .featured .chocolate, .featured .apricot {
  border: 2px solid yellow;
  padding-bottom: 1rem;
  background-color: yellow;
}
.featured .apricot {
  border-color: pink;
  background-color: pink;
}
.featured .chocolate {
  border-color: rgb(28, 7, 7);
  background-color: rgb(28, 7, 7);
  color: white;
}

.contact {
  width: min(100% - 4px, 1440px);
  margin-inline: auto;
  padding: 20px;
}
@media (min-width: 1000px) {
  .contact {
    height: 800px;
    display: flex;
  }
  .contact__left, .contact__right {
    width: min(50% - 8px, 540px);
    margin-inline: auto;
    height: 90%;
  }
}
.contact__left, .contact__right {
  background-color: #e9e3d7;
  padding: 30px;
  height: 80%;
}
.contact__left {
  padding: 20px;
}
.contact__left small {
  float: right;
  padding: 0 2rem;
}
.contact__left__calculator {
  padding: 20px;
  height: 90%;
  width: 80%;
  margin: 0 auto;
}
.contact__left__calculator__first {
  padding-bottom: 30px;
  margin-top: 20px;
  border-bottom: 1px solid gray;
}
.contact__left__calculator__first p {
  line-height: 150%;
}
.contact__left__calculator__first p.price span {
  font-style: italic;
  font-weight: 500;
  margin-left: 1rem;
}
.contact__right {
  background-color: #ebedea;
  text-align: center;
}
.contact__right form {
  width: min(80% - 12px, 640px);
  margin-inline: auto;
  text-align: center;
}
.contact__right form .title {
  color: hsla(36, 81%, 15%, 0.9);
  font-size: 2.5rem;
}
.contact__right form .order {
  margin-left: 30px;
  opacity: 0.4;
  transition: 0.2s ease-in;
}
.contact__right form .order:hover {
  opacity: 1;
}
.contact__right form .btn-holder {
  width: 80%;
  height: 100px;
  margin-inline: auto;
  display: grid;
  place-items: center;
}
.contact__right form input,
.contact__right form textarea {
  width: 90%;
  margin-inline: auto;
  margin-bottom: 20px;
  display: flex;
  flex-grow: 1;
  color: #212529;
  border: none;
  border-bottom: 2px solid rgba(50, 9, 174, 0.5);
  padding: 10px 20px;
  font-size: 1.1rem;
}
.contact__right form input:hover, .contact__right form input:focus,
.contact__right form textarea:hover,
.contact__right form textarea:focus {
  border: none;
  appearance: none;
  outline: none;
  border-bottom: 8px solid #da38cd;
}

.introduction {
  background-color: #ebedea;
  width: min(100% - 0px, 1440px);
  margin-inline: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1000px) {
  .introduction {
    flex-direction: row;
    height: 600px;
  }
  .introduction__left {
    width: 50%;
  }
}
.introduction__left, .introduction__right {
  width: min(100% - 0px, 1440px);
  margin-inline: auto;
  padding-bottom: 10px;
}
.introduction__left {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.introduction__left__top {
  width: 60%;
  margin-inline: auto;
  margin-top: 20px;
  text-transform: uppercase;
}
.introduction__left__top h3 {
  font-size: 2rem;
  line-height: 150%;
}
.introduction__left__top p {
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
}
.introduction__left__bottom {
  width: 60%;
  margin-inline: auto;
}
.introduction__left__bottom img {
  width: min(100% - 0px, 400px);
  margin-inline: auto;
  height: 200px;
  background: #fff;
  padding: 8px;
}
.introduction__right {
  height: 100%;
}
.introduction__right__first .cta {
  padding: 12px 6px;
  outline: none;
  cursor: pointer;
  border: none;
  appearance: none;
  background-color: hsl(255, 90%, 36%);
  color: hsl(300, 67%, 89%);
  float: right;
}
.introduction__right__first img {
  background: hsl(300, 67%, 89%);
  width: 200px;
  padding: 10px;
}
@media (min-width: 1000px) {
  .introduction__right__first {
    padding: 30px;
    padding-left: 3px;
  }
  .introduction__right__first .cta {
    margin-inline: auto;
  }
  .introduction__right__first img {
    display: block;
    width: min(100% - 0px, 400px);
    margin-inline: auto;
    height: 300px;
    object-fit: cover;
    padding: 5px;
    background: #000;
    margin-top: -60px;
    z-index: -1;
  }
  .introduction__right__first p {
    width: 80%;
  }
  .introduction__right__second img {
    width: 200px;
    height: 300px;
  }
}

article {
  background: hsl(300, 67%, 89%);
}
article h2 {
  text-align: center;
}
article .mini-gallery {
  height: 300px;
  display: flex;
  align-items: center;
}
article .mini-gallery img {
  width: 200px;
  height: 200px;
  padding: 4px;
  object-fit: cover;
  margin: 0 auto;
  background: #fff;
}

.mobile-menu {
  display: none;
}
@media (max-width: 700px) {
  .mobile-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(100% - 8rem, 700px);
    margin-inline: auto;
    padding-top: 2rem;
    font-size: 40px;
  }
  .mobile-menu__navbar {
    font-size: 40px;
  }
  .mobile-menu i {
    cursor: pointer;
    transition: 0.5s ease-out;
  }
  .mobile-menu .hidden {
    display: none;
  }
  .mobile-menu .open {
    display: flex;
  }
}

.navbar {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-color: #da38cd;
  color: white;
}
@media (max-width: 700px) {
  .navbar {
    padding-top: 0;
    display: none;
  }
  .navbar .navbar__logo {
    font-size: 0px;
  }
  .navbar .navbar__logo__symb {
    display: none;
  }
  .navbar__ul {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    text-align: right;
    margin-right: 3rem;
    padding-top: 3rem;
    gap: 30px;
  }
  .navbar__ul a {
    font-size: 1.3rem;
    transition: 0.3s ease-in-out;
  }
  .navbar__ul a:hover {
    text-shadow: 2px 2px 4px #000000;
    text-transform: uppercase;
    letter-spacing: 1.1px;
  }
}
.navbar__logo {
  font-size: 2rem;
}
.navbar__logo i {
  display: none;
}
.navbar__ul {
  display: flex;
  gap: 30px;
}
.navbar__ul a {
  font-size: 1.6rem;
}
.navbar__ul a:hover {
  text-shadow: 2px 2px 3px #000000;
  text-transform: uppercase;
}

main {
  background-color: #fff;
}

/*# sourceMappingURL=style.css.map */
